In [309]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ast

In [310]:
df = pd.read_csv("Resources/train.csv")

In [311]:
df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/2015,93,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/2004,113,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/2014,105,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/2012,122,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/2009,118,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [312]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
id                       3000 non-null int64
belongs_to_collection    604 non-null object
budget                   3000 non-null int64
genres                   2993 non-null object
homepage                 946 non-null object
imdb_id                  3000 non-null object
original_language        3000 non-null object
original_title           3000 non-null object
overview                 2992 non-null object
popularity               3000 non-null float64
poster_path              2999 non-null object
production_companies     2844 non-null object
production_countries     2945 non-null object
release_date             3000 non-null object
runtime                  3000 non-null int64
spoken_languages         2980 non-null object
status                   3000 non-null object
tagline                  2403 non-null object
title                    3000 non-null object
Keywords                 2724 non-null object
cast                     2987 non-null object
crew                     2984 non-null object
revenue                  3000 non-null int64
dtypes: float64(1), int64(4), object(18)
memory usage: 539.1+ KB

In [313]:
#Fill blank runtime entries with zero value
df["runtime"]=df["runtime"].fillna(0)

In [314]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
id                       3000 non-null int64
belongs_to_collection    604 non-null object
budget                   3000 non-null int64
genres                   2993 non-null object
homepage                 946 non-null object
imdb_id                  3000 non-null object
original_language        3000 non-null object
original_title           3000 non-null object
overview                 2992 non-null object
popularity               3000 non-null float64
poster_path              2999 non-null object
production_companies     2844 non-null object
production_countries     2945 non-null object
release_date             3000 non-null object
runtime                  3000 non-null int64
spoken_languages         2980 non-null object
status                   3000 non-null object
tagline                  2403 non-null object
title                    3000 non-null object
Keywords                 2724 non-null object
cast                     2987 non-null object
crew                     2984 non-null object
revenue                  3000 non-null int64
dtypes: float64(1), int64(4), object(18)
memory usage: 539.1+ KB

In [315]:
# Change homepage column to yes or no format
df.loc[df["homepage"].notnull(),"homepage"]=1
df["homepage"]=df["homepage"].fillna(0)

df.loc[df["belongs_to_collection"].notnull(),"belongs_to_collection"]=1
df["belongs_to_collection"]=df["belongs_to_collection"].fillna(0)

In [316]:
# Add column whether the movie has a tagline or not
df["Has_tagline"]=1
df.loc[df["tagline"].isnull(), "Has_tagline"]=0

In [317]:
# Change budget, popularity, and runtime to percent values
#df['budget']=df['budget'].apply(lambda x:(x-np.min(df['budget']))/(np.max(df['budget']-np.min(df['budget']))))

#df['popularity']=df['popularity'].apply(lambda x:(x-np.min(df['popularity']))/(np.max(df['popularity']-np.min(df['popularity']))))

#df['runtime']=df['runtime'].apply(lambda x:(x-np.min(df['runtime']))/(np.max(df['runtime']-np.min(df['runtime']))))

In [318]:
need_strings=["genres", 
              "production_companies", 
              "production_countries"]

In [319]:
for string in need_strings:
    df.loc[df[string].notnull(),string]=\
    df.loc[df[string].notnull(),string]\
    .apply(lambda x : ast.literal_eval(x))\
    .apply(lambda x : [y["name"] for y in x])

In [320]:
df.loc[df["cast"].notnull(),"cast"]=df.loc[df["cast"].notnull(),"cast"].apply(lambda x : ast.literal_eval(x))
df.loc[test["crew"].notnull(),"crew"]=df.loc[df["crew"].notnull(),"crew"].apply(lambda x : ast.literal_eval(x))

df["cast_count"] = df.loc[df["cast"].notnull(),"cast"].apply(lambda x : len(x))
df["crew_count"] = df.loc[df["crew"].notnull(),"crew"].apply(lambda x : len(x))

In [321]:
df["genres"]=df["genres"].fillna(0)
df.head()

df["cast_count"]=df["cast_count"].fillna(0)
df.head()

df["crew_count"]=df["crew_count"].fillna(0)
df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,status,tagline,title,Keywords,cast,crew,revenue,Has_tagline,cast_count,crew_count
0,1,1,14000000,[Comedy],0,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,1,24.0,72.0
1,2,1,40000000,"[Comedy, Drama, Family, Romance]",0,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,1,20.0,9.0
2,3,0,3300000,[Drama],1,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,1,51.0,64.0
3,4,0,1200000,"[Thriller, Drama]",1,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,0,7.0,3.0
4,5,0,0,"[Action, Thriller]",0,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,0,4.0,2.0

In [322]:
df=pd.get_dummies(df['genres'].apply(pd.Series).stack()).sum(level=0).merge(df, left_index=True, right_index=True)
df.head()

,0.0,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,status,tagline,title,Keywords,cast,crew,revenue,Has_tagline,cast_count,crew_count
0,0,0,0,0,1,0,0,0,0,0,...,Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,1,24.0,72.0
1,0,0,0,0,1,0,0,1,1,0,...,Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,1,20.0,9.0
2,0,0,0,0,0,0,0,1,0,0,...,Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,1,51.0,64.0
3,0,0,0,0,0,0,0,1,0,0,...,Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,0,7.0,3.0
4,0,1,0,0,0,0,0,0,0,0,...,Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,0,4.0,2.0

In [323]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 0 to 2999
Data columns (total 47 columns):
0.0                      3000 non-null uint8
Action                   3000 non-null uint8
Adventure                3000 non-null uint8
Animation                3000 non-null uint8
Comedy                   3000 non-null uint8
Crime                    3000 non-null uint8
Documentary              3000 non-null uint8
Drama                    3000 non-null uint8
Family                   3000 non-null uint8
Fantasy                  3000 non-null uint8
Foreign                  3000 non-null uint8
History                  3000 non-null uint8
Horror                   3000 non-null uint8
Music                    3000 non-null uint8
Mystery                  3000 non-null uint8
Romance                  3000 non-null uint8
Science Fiction          3000 non-null uint8
TV Movie                 3000 non-null uint8
Thriller                 3000 non-null uint8
War                      3000 non-null uint8
Western                  3000 non-null uint8
id                       3000 non-null int64
belongs_to_collection    3000 non-null int64
budget                   3000 non-null int64
genres                   3000 non-null object
homepage                 3000 non-null int64
imdb_id                  3000 non-null object
original_language        3000 non-null object
original_title           3000 non-null object
overview                 2992 non-null object
popularity               3000 non-null float64
poster_path              2999 non-null object
production_companies     2844 non-null object
production_countries     2945 non-null object
release_date             3000 non-null object
runtime                  3000 non-null int64
spoken_languages         2980 non-null object
status                   3000 non-null object
tagline                  2403 non-null object
title                    3000 non-null object
Keywords                 2724 non-null object
cast                     2987 non-null object
crew                     2984 non-null object
revenue                  3000 non-null int64
Has_tagline              3000 non-null int64
cast_count               3000 non-null float64
crew_count               3000 non-null float64
dtypes: float64(3), int64(7), object(16), uint8(21)
memory usage: 774.3+ KB

In [324]:
X=df[["Action",
      "Adventure",
      "Animation",
      "Comedy",
      "Crime",
      "Documentary",
      "Drama",
      "Family",
      "Fantasy",
      "Foreign",
      "History",
      "Horror",
      "Music",
      "Mystery",
      "Romance",
      "Science Fiction",
      "Thriller",
      "TV Movie",
      "War",
      "Western",
      "budget",
      "popularity",
      "runtime",
      "homepage",
      "Has_tagline",
      "belongs_to_collection",
      "cast_count",
      "crew_count"]]
print(X.head())

   Action  Adventure  Animation  Comedy  Crime  Documentary  Drama  Family  \
0       0          0          0       1      0            0      0       0
1       0          0          0       1      0            0      1       1
2       0          0          0       0      0            0      1       0
3       0          0          0       0      0            0      1       0
4       1          0          0       0      0            0      0       0

   Fantasy  Foreign     ...      War  Western    budget  popularity  runtime  \
0        0        0     ...        0        0  14000000    6.575393       93
1        0        0     ...        0        0  40000000    8.248895      113
2        0        0     ...        0        0   3300000   64.299990      105
3        0        0     ...        0        0   1200000    3.174936      122
4        0        0     ...        0        0         0    1.148070      118

   homepage  Has_tagline  belongs_to_collection  cast_count  crew_count
0         0            1                      1        24.0        72.0
1         0            1                      1        20.0         9.0
2         1            1                      0        51.0        64.0
3         1            0                      0         7.0         3.0
4         0            0                      0         4.0         2.0

[5 rows x 28 columns]

In [325]:
y = df["revenue"]

In [326]:
print(X.shape, y.shape)

(3000, 28) (3000,)

In [327]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X)
X = scaler.transform(X)
X = pd.DataFrame(X)
X.columns = ["Action",
      "Adventure",
      "Animation",
      "Comedy",
      "Crime",
      "Documentary",
      "Drama",
      "Family",
      "Fantasy",
      "Foreign",
      "History",
      "Horror",
      "Music",
      "Mystery",
      "Romance",
      "Science Fiction",
      "Thriller",
      "TV Movie",
      "War",
      "Western",
      "budget",
      "popularity",
      "runtime",
      "homepage",
      "Has_tagline",
      "belongs_to_collection",
      "cast_count",
      "crew_count"]
X.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,...,War,Western,budget,popularity,runtime,homepage,Has_tagline,belongs_to_collection,cast_count,crew_count
0,-0.572731,-0.414026,-0.222076,1.385023,-0.430467,-0.172818,-1.020885,-0.308043,-0.289508,-0.102182,...,-0.185695,-0.120589,-0.230453,-0.155998,-0.665355,-0.678649,0.498437,1.991705,0.204268,0.097484
1,-0.572731,-0.414026,-0.222076,1.385023,-0.430467,-0.172818,0.979543,3.246300,-0.289508,-0.102182,...,-0.185695,-0.120589,0.471872,-0.017714,0.234422,-0.678649,0.498437,1.991705,-0.036307,-0.103938
2,-0.572731,-0.414026,-0.222076,-0.722010,-0.430467,-0.172818,0.979543,-0.308043,-0.289508,-0.102182,...,-0.185695,-0.120589,-0.519486,4.613849,-0.125489,1.473515,0.498437,-0.502082,1.828146,0.071907
3,-0.572731,-0.414026,-0.222076,-0.722010,-0.430467,-0.172818,0.979543,-0.308043,-0.289508,-0.102182,...,-0.185695,-0.120589,-0.576212,-0.436981,0.639322,1.473515,-2.006272,-0.502082,-0.818174,-0.123121
4,1.746019,-0.414026,-0.222076,-0.722010,-0.430467,-0.172818,-1.020885,-0.308043,-0.289508,-0.102182,...,-0.185695,-0.120589,-0.608627,-0.604463,0.459366,-0.678649,-2.006272,-0.502082,-0.998605,-0.126318

In [328]:
#Train, test, split the train dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [329]:
#Import RandomForest Regressor
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=200, n_jobs=1)
rf = rf.fit(X_train, y_train)

In [330]:
rf.score(X_test, y_test)

0.7342348426250095

In [331]:
# Random Forests in sklearn will automatically calculate feature importance
importances = rf.feature_importances_
importances

array([3.94715193e-03, 9.85809618e-03, 7.44421408e-03, 4.60554593e-03,
       4.01936540e-03, 5.48881020e-06, 4.99094255e-03, 3.57545022e-03,
       5.95973044e-03, 4.51917853e-07, 1.06561243e-03, 1.97884793e-03,
       1.60205635e-03, 1.61378037e-03, 5.93030102e-03, 7.86288188e-03,
       5.54409203e-03, 0.00000000e+00, 1.05715790e-03, 1.98596466e-04,
       5.73886551e-01, 1.68357060e-01, 4.82203118e-02, 5.71013302e-03,
       1.89269585e-03, 3.72827773e-02, 4.47723691e-02, 4.86183380e-02])

In [332]:
#Import Linear Regression model
from sklearn import linear_model
model = linear_model.LinearRegression()

In [333]:
#fit and score the data
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.644649892714334

In [334]:
predict = rf.predict(X_test)
pd.DataFrame({"Prediction": predict.astype(int), "Actual": y_test})

      Prediction     Actual
1406     3514669    4314688
2893    24731270  141000000
1592     7693507   11000000
2391    67881843  141195658
227     20606275   26096852
2483     5923348      48911
1381    42696455   25000000
2063     5829681    6861102
2282    57456290   40940662
1127    70197882   14010690
304     12367920    6193901
1868   474469659  630161890
1821      839511      62153
2394   147008587  147934180
2134   402661286  300257475
2528    20875173    7500000
2673     7498370     300653
1008    30314620   19472057
2733   145700391   48093211
1056     4521070     107559
715     17076979   24188922
201     49882462    3916303
1938    43519826   20211394
901      2463360      52164
843     44691964   27187375
35      68122102   40346186
321    212121267  183018522
1238    21105196   30553394
1196    97917578   82150642
15       3269883        198
...          ...        ...
2050    33990213   22490039
1905     5318943   15429177
2934   106810278   77112176
2126   986296870  863416141
2113    31192979   25000000
334      2150249          3
2805    69292573    2275557
1509    10210608    3214116
2749    14759998    1803009
2787   204528681  157107755
178     77043241  125212904
2701     8984334    6892098
2695    13634912   10000000
2430    14847896   10000000
337      3355158    9833553
150      6301833         18
875     56504801   50159144
2159    15156610   76578641
1640    17030839   25000000
2242   116323763  132820716
646     38156904   94000000
1523    58962167    1831348
1313   140473915   49100000
2272     9366803    1007962
1460   205757967  102000000
1919     1048491    2043704
1717   265147112  242688965
1936   143808173   14051384
704    178501067   59908565
426     37523704   18197398

[750 rows x 2 columns]

In [335]:
#read in test csv file
test = pd.read_csv("Resources/test.csv")
test.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/2007,90,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/1958,65,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/1997,100,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."
3,3004,NaN,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",9/4/2010,130,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de..."
4,3005,NaN,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/11/2005,92,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de..."

In [336]:
#Fill blank runtime entries with zero value
test["runtime"]=test["runtime"].fillna(0)

# Change homepage column to yes or no format
test.loc[test["homepage"].notnull(),"homepage"]=1
test["homepage"]=test["homepage"].fillna(0)

# Add column whether the movie has a tagline or not
test["Has_tagline"]=1
test.loc[test["tagline"].isnull(), "Has_tagline"]=0

test.loc[test["belongs_to_collection"].notnull(),"belongs_to_collection"]=1
test["belongs_to_collection"]=test["belongs_to_collection"].fillna(0)

In [337]:
need_strings=["genres", 
              "production_companies", 
              "production_countries"]

In [338]:
for string in need_strings:
    test.loc[test[string].notnull(),string]=\
    test.loc[test[string].notnull(),string]\
    .apply(lambda x : ast.literal_eval(x))\
    .apply(lambda x : [y["name"] for y in x])

In [339]:
test.loc[test["cast"].notnull(),"cast"]=test.loc[test["cast"].notnull(),"cast"].apply(lambda x : ast.literal_eval(x))
test.loc[test["crew"].notnull(),"crew"]=test.loc[test["crew"].notnull(),"crew"].apply(lambda x : ast.literal_eval(x))

test["cast_count"] = test.loc[test["cast"].notnull(),"cast"].apply(lambda x : len(x))
test["crew_count"] = test.loc[test["crew"].notnull(),"crew"].apply(lambda x : len(x))

In [340]:
test["genres"]=test["genres"].fillna(0)
test.head()

test["cast_count"]=test["cast_count"].fillna(0)
test.head()

test["crew_count"]=test["crew_count"].fillna(0)
test.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,Keywords,cast,crew,Has_tagline,cast_count,crew_count
0,3001,1,0,"[Adventure, Animation, Family, Fantasy]",1,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de...",1,7.0,2.0
1,3002,0,88000,"[Horror, Science Fiction]",0,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de...",1,10.0,8.0
2,3003,0,0,"[Comedy, Romance]",0,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de...",1,9.0,10.0
3,3004,0,6800000,"[Drama, War, Mystery]",1,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de...",1,23.0,69.0
4,3005,0,2000000,"[History, Documentary]",0,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de...",1,4.0,14.0

In [341]:
test=pd.get_dummies(test['genres'].apply(pd.Series).stack()).sum(level=0).merge(test, left_index=True, right_index=True)
test.head()

,0.0,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,spoken_languages,status,tagline,title,Keywords,cast,crew,Has_tagline,cast_count,crew_count
0,0,0,1,1,0,0,0,0,1,1,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de...",1,7.0,2.0
1,0,0,0,0,0,0,0,0,0,0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de...",1,10.0,8.0
2,0,0,0,0,1,0,0,0,0,0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de...",1,9.0,10.0
3,0,0,0,0,0,0,0,1,0,0,...,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de...",1,23.0,69.0
4,0,0,0,0,0,0,1,0,0,0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de...",1,4.0,14.0

In [342]:
#test CSV did not have any TV Movie genres so added an empty column
test["TV Movie"]=0

In [343]:
# Change budget, popularity, and runtime as values between 0 and 1
#test['budget']=test['budget'].apply(lambda x:(x-np.min(test['budget']))/(np.max(test['budget']-np.min(test['budget']))))

#test['popularity']=test['popularity'].apply(lambda x:(x-np.min(test['popularity']))/(np.max(test['popularity']-np.min(test['popularity']))))

#test['runtime']=test['runtime'].apply(lambda x:(x-np.min(test['runtime']))/(np.max(test['runtime']-np.min(test['runtime']))))

In [344]:
features=test[["Action",
      "Adventure",
      "Animation",
      "Comedy",
      "Crime",
      "Documentary",
      "Drama",
      "Family",
      "Fantasy",
      "Foreign",
      "History",
      "Horror",
      "Music",
      "Mystery",
      "Romance",
      "Science Fiction",
      "Thriller",
      "TV Movie",
      "War",
      "Western",
      "budget",
      "popularity",
      "runtime",
      "homepage",
      "Has_tagline",
      "belongs_to_collection",
      "cast_count",
      "crew_count"]]

target='revenue'

In [345]:
scaler = StandardScaler().fit(features)
features = scaler.transform(features)
features = pd.DataFrame(features)
features.columns = ["Action",
      "Adventure",
      "Animation",
      "Comedy",
      "Crime",
      "Documentary",
      "Drama",
      "Family",
      "Fantasy",
      "Foreign",
      "History",
      "Horror",
      "Music",
      "Mystery",
      "Romance",
      "Science Fiction",
      "Thriller",
      "TV Movie",
      "War",
      "Western",
      "budget",
      "popularity",
      "runtime",
      "homepage",
      "Has_tagline",
      "belongs_to_collection",
      "cast_count",
      "crew_count"]
features.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,...,War,Western,budget,popularity,runtime,homepage,Has_tagline,belongs_to_collection,cast_count,crew_count
0,-0.540379,2.344420,4.153187,-0.747677,-0.403199,-0.177273,-0.975738,3.097998,3.179003,-0.110444,...,-0.183324,-0.13082,-0.613873,-0.384898,-0.823650,1.448165,0.494095,2.003702,-0.789641,-0.788027
1,-0.540379,-0.426545,-0.240779,-0.747677,-0.403199,-0.177273,-0.975738,-0.322789,-0.314564,-0.110444,...,-0.183324,-0.13082,-0.611488,-0.408797,-1.998460,-0.690529,0.494095,-0.499076,-0.622776,-0.575181
2,-0.540379,-0.426545,-0.240779,1.337475,-0.403199,-0.177273,-0.975738,-0.322789,-0.314564,-0.110444,...,-0.183324,-0.13082,-0.613873,-0.038094,-0.353725,-0.690529,0.494095,-0.499076,-0.678398,-0.504232
3,-0.540379,-0.426545,-0.240779,-0.747677,-0.403199,-0.177273,1.024866,-0.322789,-0.314564,-0.110444,...,5.454837,-0.13082,-0.429570,0.003750,1.056047,1.448165,0.494095,-0.499076,0.100303,1.588758
4,-0.540379,-0.426545,-0.240779,-0.747677,-0.403199,5.641001,-0.975738,-0.322789,-0.314564,-0.110444,...,-0.183324,-0.13082,-0.559666,-0.436821,-0.729665,-0.690529,0.494095,-0.499076,-0.956505,-0.362334

In [346]:
predictions = model.predict(features)
predictions

array([ 92743592.12060896, -44452472.19592022,   5338453.97330559, ...,
        44347950.15390156,  29115961.65370595,  -3899140.94545934])

In [347]:
rf_predicts = rf.predict(features)
rf_predicts

array([2.67939529e+07, 5.00833153e+06, 1.37503254e+07, ...,
       4.33095438e+07, 1.40493469e+08, 1.49621002e+07])

In [348]:
predict_df = pd.DataFrame()
predict_df["id"]=test["id"]
predict_df["title"] = test["title"]
predict_df["lin_revenue"] = predictions.astype(int)
predict_df["rf_revenue"] = rf_predicts.astype(int)

In [349]:
predict_df = predict_df.sort_values(by=['rf_revenue'], ascending=False)
predict_df

,id,title,lin_revenue,rf_revenue
96,3097,Spider-Man 3,761117554,1196219488
3138,6139,Batman v Superman: Dawn of Justice,757133547,1183380871
4183,7184,The Fate of the Furious,734841009,1070313207
985,3986,The Amazing Spider-Man,638141976,1054548460
2680,5681,Pirates of the Caribbean: Dead Men Tell No Tales,923037020,1040780501
3867,6868,The Hobbit: The Battle of the Five Armies,715439799,1000476189
19,3020,Titanic,589434589,978441436
1550,4551,Pirates of the Caribbean: Dead Man's Chest,601744798,974214769
3151,6152,Avatar,1059418630,967640083
1589,4590,Captain America: Civil War,995938081,944974295
898,3899,Suicide Squad,513550797,944715848
1645,4646,Star Wars: The Force Awakens,702469070,926900331
388,3389,The Amazing Spider-Man 2,597806446,919730936
1906,4907,Harry Potter and the Deathly Hallows: Part 1,733986882,919345347
942,3943,Rogue One: A Star Wars Story,616807969,910850815
3916,6917,X-Men: Apocalypse,547486698,884252977
429,3430,Kong: Skull Island,490482013,873386253
2462,5463,Fantastic Beasts and Where to Find Them,584370749,869566208
2977,5978,Big Hero 6,916129116,845350021
1329,4330,King Arthur: Legend of the Sword,503722986,833802811
1796,4797,X-Men: Days of Future Past,693169567,820351793
856,3857,The Legend of Tarzan,518533654,813974214
516,3517,Thor: The Dark World,534785685,809741385
2655,5656,Harry Potter and the Goblet of Fire,508289402,804356262
458,3459,Pacific Rim,547689104,790367810
2177,5178,Edge of Tomorrow,450447447,768005543
2856,5857,Thor,473469161,762164550
3680,6681,Dawn of the Planet of the Apes,595587978,745187995
870,3871,Doctor Strange,475155265,737861289
3198,6199,Harry Potter and the Philosopher's Stone,474126909,735753219
...,...,...,...,...
2251,5252,Teddy Bears' Picnic,-32031711,421244
828,3829,"Jails, Hospitals & Hip-Hop",-34765647,409564
2213,5214,Praying With Lior,-34192116,396379
3289,6290,Natural Selection,-8653938,392525
1838,4839,Bran Nue Dae,-4435525,364835
3765,6766,I Like Killing Flies,-28842389,353741
3067,6068,Sholem Aleichem: Laughing In The Darkness,-7803580,351601
1708,4709,Sunday,-18737193,348374
3607,6608,Without You I'm Nothing,-27035234,347402
663,3664,The Lonely Lady,-28896315,333871
194,3195,Dance Me Outside,-30699430,330687
4351,7352,Afghan Star,-5760058,329127
1284,4285,Adanggaman,-13534274,319740
2020,5021,Last Train Home,-24548681,312508
2411,5412,Party Girl,-27508801,304591
934,3935,Assisted Living,-29212449,292439
1176,4177,Bipedalism,-43867440,286018
4190,7191,"Sick: The Life and Death of Bob Flanagan, Supe...",-23451265,270834
2062,5063,15,-29767978,266370
267,3268,How to Live Forever,-6309477,257594
3354,6355,Mistaken for Strangers,-27292852,247421
1676,4677,Emmanuel's Gift,-15521426,240069
880,3881,Dr. Bronner's Magic Soapbox,-12986168,220489
875,3876,Lights of New York,-52703491,219461
1028,4029,I Come,-29292585,216408
3037,6038,Yoo Hoo Mrs Goldberg,-26252764,210712
3106,6107,The Year of the Yao,-9864614,179230
4261,7262,Jeanne and the Perfect Guy,-28906586,164696
2521,5522,Putty Hill,-13777633,163361
3816,6817,Nursery University,-9877635,161426